<div class="container">
  <h1 class="h2">View Salary</h1>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
      <li class="breadcrumb-item active">View Salary</li>
    </ol>
  </nav>
  
  <div class="row">
    <h2>Official Payslip</h2>
    <div class="col-6">
      <p><strong>Employee Name:</strong> <%= salary.employeeName %></p>
      <p><strong>Starting Cutoff Date:</strong> <%= salary.startingCutoff.toDateString() %></p>
      <p><strong>Ending Cutoff Date:</strong> <%= salary.endingCutoff.toDateString() %></p>
      <p><strong>TIN No.:</strong> <%= salary.tin %></p>
      <p><strong>SSS No.:</strong> <%= salary.sss %></p>
      <p><strong>PHILHEALTH No.:</strong> <%= salary.philhealth %></p>
      <p><strong>HDMF No.:</strong> <%= salary.hdmf %></p>
      <p><strong>Basic Pay:</strong> <%= salary.basicPay %></p>
      <p><strong>Night Differential:</strong> <%= salary.nightDiff %></p>
      <p><strong>Overtime Pay:</strong> <%= salary.overtimePay %></p>
      <p><strong>Holiday Pay:</strong> <%= salary.holidayPay %></p>
      <p><strong>Internet Allowance:</strong> <%= salary.internetAllowance %></p>
      <p><strong>Other Bonuses:</strong> <%= salary.otherBonuses %></p>
      <p><strong>Attendance Incentive:</strong> <%= salary.attendanceIncentive %></p>
      <p><strong>Total Compensation:</strong> <%= salary.totalCompensation %></p>
      <p><strong>Total Deductions:</strong> <%= salary.totalDeductions %></p>
      <p><strong>Total Net Pay:</strong> <%= salary.totalNetPay %></p>
    </div>
    <div class="col-6">
      <p><strong>Hours Worked:</strong> <%= salary.hoursWorked %></p>
      <p><strong>Regular Overtime:</strong> <%= salary.regularOvertime %></p>
      <p><strong>Regular Holiday:</strong> <%= salary.regularHoliday %></p>
      <p><strong>Special Non-Working Day:</strong> <%= salary.specialNonWorkingDay %></p>
      <p><strong>Holiday Overtime:</strong> <%= salary.holidayOvertime %></p>
      <p><strong>Service Incentive Leave Credit:</strong> <%= salary.serviceIncentiveLeaveCredit %></p>
      <p><strong>Gross Pay Rate:</strong> <%= salary.grossPayRate %></p>
      <p><strong>Gross Rate per Hour:</strong> <%= salary.grossRatePerHour %></p>
      <p><strong>Gross Salary Dollars:</strong> <%= salary.grossSalaryDollars %></p>
      <p><strong>Gross Salary Pesos:</strong> <%= salary.grossSalaryPesos %></p>
      <p><strong>Internet Allowance and Bonuses:</strong> <%= salary.internetAllowanceBonuses %></p>
      <p><strong>Total Gross Compensation:</strong> <%= salary.totalGrossCompensation %></p>
      <p><strong>Year To Date Compensation:</strong> <%= salary.yearToDateCompensation %></p>
      <p><strong>Year To Date Deductions:</strong> <%= salary.yearToDateDeductions %></p>
      <p><strong>Year To Date Gross Pay:</strong> <%= salary.yearToDateGrossPay %></p>
      <p><strong>Year To Date Net Pay:</strong> <%= salary.yearToDateNetPay %></p>
    </div>
  </div>
</div>
